@model maturitetna_NovaTestnaStran.Models.RegisterModel
@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('@Url.Content("~/Imgs/Background.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-margin {
        margin-bottom: 15px; 
    }
</style>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="UserManagement" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating form-margin">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating form-margin">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating form-margin">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating form-margin">
                <select asp-for="DomainId" class="form-control" asp-items="ViewBag.DomainId"></select>
                <label asp-for="DomainId"></label>
                <span asp-validation-for="DomainId" class="text-danger"></span>
            </div>
            <div class="form-group form-margin">
                <input type="submit" value="Ustvari" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
