@using Microsoft.AspNetCore.Identity;
@model List<IdentityUser>
@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('@Url.Content("~/Imgs/Background.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn-margin {
        margin-top: 20px;
        margin-right: 10px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-margin">Ustvari</a>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-margin">Ustvari</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>
