@using Microsoft.AspNetCore.Identity;
@model List<IdentityUser>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                3
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.Id
            </td>
            <td>
                    @item.Email
            </td>
            <td>
                3
            </td>
            <td>
                4
            </td>
        </tr>
}
    </tbody>
</table>
