@model maturitetna_NovaTestnaStran.Controllers.ModelView
@{
    ViewData["Title"] = "Index";
}

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <p>@Model.Server.ServerName</p>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="max-height: 200px; overflow-y: auto;">
        @foreach (var item in Model.Servers)
        {
            <li><a class="dropdown-item" asp-controller="ServersOverview" asp-action="" asp-route-id="@item.Id">@item.ServerName</a></li>
        }
    </ul>
</div>


