
<div class="scrollable-container">
    <div class="container">
        @for (int i = 1; i <= 9; i += 3)
        {
            <div class="row mt-4">
                @for (int j = i; j < i + 3 && j <= 9; j++)
                {
                    <div class="col-md-4">
                        <div class="glass">
                            <h3>Server @j</h3>
                            <img src="@($"path_to_server_logo.jpg")" alt="@($"Server Logo")" class="server-logo">
                            <p>ŠIPTAR @j...</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
