@model maturitetna_NovaTestnaStran.Models.ServerEntity

@{
    ViewData["Title"] = "Ustvari Server";
}

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('@Url.Content("~/Imgs/Background.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn-back {
        margin-top: 10px;
    }

    .btn-ustvari {
        margin-top: 10px; 
    }
</style>

<h1>Ustvari Server</h1>
<hr />
<div class="rowr">
    <div class="col-md-6 form-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DomainId" class="control-label"></label>
                <select asp-for="DomainId" class="form-control" asp-items="ViewBag.DomainId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServerName" class="control-label"></label>
                <input asp-for="ServerName" class="form-control" />
                <span asp-validation-for="ServerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ustvari" class="btn btn-primary btn-ustvari" />
            </div>
        </form>
    </div>
</div>

<div class="btn-back">
    <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
