@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (User.Identity.IsAuthenticated)
{

      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">Nadzorna Plošča</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ServersOverview" asp-action="Index">Strežniki</a>
      </li>

}