@model maturitetna_NovaTestnaStran.Models.DomainEntity

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('@Url.Content("~/Imgs/Background.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn-margin {
        margin-top: 20px;
        margin-right: 10px;
    }
</style>

<h1>Briši</h1>

<h3>Ali ste prepričani, da želite to izbrisati?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Briši" class="btn btn-danger btn-margin" />
        <a asp-action="Index" class="btn btn-secondary btn-margin">Nazaj</a>
    </form>
</div>
