@model maturitetna_NovaTestnaStran.Models.DomainEntity

@{
    ViewData["Title"] = "Podrobnosti";
}

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('@Url.Content("~/Imgs/Background.jpg")');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<h1>Podrobnosti</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
</div>
