@page
@model IndexModel
@{
    ViewData["Title"] = "Domača stran";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Dobrodošli</h1>
                <p>Pozdrabljeni uporabnik storitve "ime storitve"</p>
            </div>
        </div>
        <div class="col-md-4 position-relative vh-100">
            <form class="position-absolute bottom-50 start-0 end-0" method="post">
                <div class="form-group">
                    <label asp-for="Credentials.Email" for="username">Uporabniško ime:</label>
                    <input asp-for="Credentials.Email" type="text" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label asp-for="Credentials.Password" for="password">Geslo:</label>
                    <input asp-for="Credentials.Password" type="password" class="form-control" id="password" name="password" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Prijava">
            </form>
        </div>
    </div>
</div>
