@page
@model MaturitetnaSpletnaStran.Pages.UsersModel
@{
}
<br />
<h2>List of Clients</h2>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var client in Model.clientList)
		{
			<tr>
				<td>@client.id</td>
				<td>@client.name</td>
			</tr>
		}
	</tbody>
</table>